<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matsuura.facediary.v1.mappers.auth.AuthMapper">

    <select id="findUserByEmail" resultType="com.matsuura.facediary.v1.models.User">
        SELECT
            email, password, is_verified AS isVerified, verify_token, reset_password_token
        FROM
            facediary_db.user
        WHERE
            email = #{email}
    </select>

    <select id="findUserByVerifyToken" resultType="com.matsuura.facediary.v1.models.User">
        SELECT
            email, password, is_verified AS isVerified, verify_token, reset_password_token
        FROM
            facediary_db.user
        WHERE
            verify_token = #{verifyToken}
    </select>

    <insert id="insertUser" parameterType="com.matsuura.facediary.v1.dto.InsertUserDto">
        INSERT INTO
            facediary_db.user (email, password, verify_token)
        VALUE
            (#{email, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{verifyToken, jdbcType=VARCHAR})
    </insert>

    <update id="updateVerifyFlag">
        UPDATE
            facediary_db.user
        SET
            is_verified = true,
            verify_token = null
        WHERE
            verify_token = #{verifyToken}
    </update>

    <update id="updateResetPasswordToken">
        UPDATE
            facediary_db.user
        SET
            reset_password_token = #{passwordToken}
        WHERE
            email = #{email}
    </update>

</mapper>